.container {
  background-color: #fff;
  border: 1px solid #5a5a5a;
  border-radius: 5px;
  height: auto;
  min-height: 250px;
  width: 400px;
  z-index: 10;
}

.draggable {
  display: flex;
  flex-direction: column;

  &__header {
    background-color: #5073b4;
    cursor: move;
    height: max-content;
    transition: 0.3s background-color ease;
    user-select: none;

    &-title {
      color: #fff;
      line-height: 30px;
    }
  }

  &__body {
    padding: 0 20px;

    &-text-content {
      text-align: left;
    }
  }
}
